_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

_site
public/*
.sass-cache
.jekyll-cache
vendor
.idea

!*/.gitkeep
!*/*/.gitkeep
!*/*/*/.gitkeep
!*/*/*/*/.gitkeep
!*/*/*/*/*/.gitkeep
!*/*/*/*/*/*/.gitkeep
/.gem-cache/
tailwindcss
node_modules
package.json
package-lock.json
assets/css/output.css
tailwindcss-linux-arm64
/tailwindcss-linux-arm64
tailwindcss-macos-arm64
