<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow"/>
    <meta charset="utf-8">
    {%if paginator and paginator.page != 1 %} <title> {{ page.title }} - Página {{ paginator.page }} | {{ site.title }} </title>{% endif %}
    {% seo %}
    <link rel="stylesheet" href="{{ site.srcurl }}{{ site.css_path }}output.css">
    <link rel="icon" type="image/x-icon" href="{{ site.srcurl }}/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="{{ site.srcurl }}{{ site.image_path }}logo/logo.svg">
    <link rel="apple-touch-icon" sizes="256x256" href="{{ site.srcurl }}{{ site.image_path }}logo/apple-touch-icon.png">
</head>
